.projects {
	font-size: 30px;
	line-height: 150%;
	font-weight: 600;
	color: #ffffff;
	width: 70%;
}

.project__list-element {
	cursor: pointer;
}

.projects__main a{
	color: #ffffff;
}

.projects__main a:hover{
	color: #ffffff;
}
