.deadline {
	display: flex;
}

.deadline .deadline__divider {
	padding: 0 12px;
	font-size: 30px;
	align-self: center;
	color: #ffffff;
}

.deadline .deadline_card {
	height: 100px;
	width: 100px;
	border-radius: 50%;
}
